

.page{
    
    display: flex;
    height: 87vh;
    width:100%;
    
    justify-content: center;
    margin-top: -15px;
    overflow: hidden;
    
}
#page_img{
    z-index: -1;
    width:100%;
    margin-left:10%;
    margin-right:10%;
    transform: scaleY(1.75);
    
    z-index:1;
    opacity: 0.75;

    
}
@media (max-width:600px){
    #page_img{
        margin-left: 0;
        margin-right:0;
        height:80%;
    }
}

.question{
    
    position: absolute;
    display:flex;
    
    
    overflow: hidden;
    top:83px;
    left:10%;
    z-index: 2;
    min-height: 180px;
    width:80%;
}
@media (max-width:700px){
    .question{
        width:100%;
        left:0;
        height:180px;
    }
}

.question_no{
    
    float: left;
    
    width:165px;
    height:100px;
    margin-top: 10px;
    
    
}  
.question_no span{
    position:relative;
    left:40%;
    top:30%;
    font-size: 2.2rem;
    letter-spacing: 10px;
}
@media (max-width:800px){
    .question_no{
        width:60px;
    }
    
    .question_no span{
        font-size: 1.5rem;
        letter-spacing: 5px;
        left:0;
        top:20%;
    }
}

 .question h3{
    
    padding-left: 2%;
    margin-left: auto;
    margin-bottom: 0;
    min-height: 170px;
    margin-top: 35px;
    width:85%;
    font-size: 2rem;
    letter-spacing: 2px;
    font-weight: lighter;
    
}
@media (max-width:900px){
    .question h3{
        font-size:1.4rem;
        line-height: 25px;
        
    }
}

.question_options{
    position: absolute;
    
    z-index: 2;
    left:10%;
    top:51%;
    
    font-size:31px;
    width:80%;
    height:170px;
    
}
label{
    display:block;
    
    width: 50%;
    border-radius: 20px;
    margin-left: 7%;
}

label >input[type='radio']{
    display:none
}
label >input[type='radio']+ *::before{

    content:'';
    display:inline-block;
    vertical-align: bottom;
    width:20px;
    height:20px;
    margin-right:8%;
    margin-left:5%;
    margin-bottom:1%;
    border-radius: 50%;
    border-style:solid;
    border-width:0.1rem;
    border-color:gray;
    cursor: pointer;
}
label >input[type='radio']:checked+*::before{
    background:radial-gradient(#18242A 0%,#18242A 40%,transparent 50%,transparent);
    border-color:#18242A;
}


label >input[input='radio']:checked+ *{
    color:#18242A;
    
    
}
label >span{
    padding-left: 2%;
    cursor: pointer;
    
}

@media (max-width:900px){
    .question_options{
        width:100%;
        left:0;
        top:50%;

    }
    label span{
        
        font-size: 1.4rem;
        
    }
    label >input[type='radio']+*::before{
        width:10px;
        height:10px;
    }
    label{
        
        
        width:100%;
        margin-top:-6px;
        margin-left: 0;
    }
    
}
.button{
    display:none;
}
.arrow_img{
    position:absolute;
    
    left:50%;
    top:135%;
    justify-content: space-around;
    text-align: center;
    cursor:pointer;
    background-color: rgb(217, 235, 203);
    
}
.arrow_img span{
    position:relative;
    font-size: 24px;
    text-transform: uppercase;
    top:-5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-right: 10px;
    
    
}
.arrow_img img{
    
    width:30px;
    height:30px;
    
}
@media(max-width:700px){
    .arrow_img span{
        font-size: 20px;
    }
    .arrow_img img{
        width:24px;
        height:24px;
    }
}